ul li {
  list-style:none;
}



/* Nav Style*/

.navbar-toggler.navbar-toggler-item {
  color:white;
}
.navbar-brand {
  color:white;
}
.navbar-brand:hover{
  color:white;
}

.nav-item a {
  color: white!important;
}

.dropdown-menu {
  background-color:black;
  border-radius:0px;
}

.dropdown-item:hover {
  color:black!important;
}



.navbar-rogue {
  background-color:black;
}



/*body style*/



/* form btn styles */
.tbl-ctrl-prod {
  width:163px;
  min-width:17px;
}

.tbl-ctrl-prod a {
  width:100%;
  display:block;
}

.tbl-ctrl {
  width:125px;
  min-width:125px;
  margin-left:1px;
}

.tbl-ctrl button {
  width:100%;
  display:block;
}


.tbl-ctrl a {
  height:33px;
  width:33px;
  margin:1px;
}


.brnd-tbl-ctrl {
  width:85px;
  min-width:85px;
  margin-left:1px;
}

.brnd-tbl-ctrl button {
  width:100%;
  display:block;
}

.brnd-tbl-ctrl a {
  height:33px;
  width:33px;
  margin:1px;
}

/* edit images style */

.edit-image-wrap {
  border-radius: 4px;
  box-shadow:2px 2px 6px rgba(0,0,0,0.25);
}
.edit-image-wrap img {
  height:75px;
}
.sortable-placeholder {
  background-color:red;
}
.img-delete {
  padding-left:4px;
  position:absolute;
  color:crimson;
  cursor:pointer;
}
.img-delete:hover {
  color:darkred;
}

.img-frame {
  width:300px;
  height:200px;
  display:block;
}



/* form error styles */
.invalid {
  border:crimson 1px solid;
  border-radius:5px;
}

.error-box {
  padding:5px;
  border:crimson 1px solid;
  border-radius:5px;
}

.error-box li {
  list-style:none;
  padding:3px;
  color:crimson;
}

.top-control {
  background-color:skyblue;
  border-radius:2px;
  width:80%;

}

.object-card {
  border:solid 2px transparent;
  border-radius:3px;
  height: 250px;
}

.object-card img {
  display:block;
  height:150px;
  width:auto;
  background-size: contain;
}

.object-card a {
  color:#000000;
}

.object-card a:hover {

  text-decoration:none;
}

.object-card:hover {
  background-color:#e7e7ff;
  border-radius:3px;
  border:solid 2px grey;
}



.object-card-btn {
  border: solid 1px black;
}

@media (min-width: 768px) {
    .object-card {
        width: 33.33%;
        padding:2px;
    }
}
@media (min-width: 992px) {
    .object-card {
        width: 25%;
        padding: 3px;
    }
}
@media (min-width: 1200px) {
    .object-card {
        width: 20%;
        padding:4px;
    }
}
